{% extends 'base.html' %}

{% block content %}
<div class="card m-auto mt-5" style="max-width: 25%">
    <div class="card-header">
        <h2>Connexion</h2>
    </div>
    <div class="card-body">
        {% comment %} <h2 class="card-title">Connexion</h2> {% endcomment %}
        <form class="card-text" method="POST" action="{% url 'connexion' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <button type="submit" class="btn btn-dark mt-3">Se connecter</button>
        </form>
        <p class="card-text mt-4">Pas encore de compte ?
            <a class="card-link" href="{% url 'inscription' %}">S'inscrire</a>
        </p>
    </div>
</div>
{% endblock %}
