{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Connexion</h2>
            <form method="POST" action="{% url 'connexion' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">Se connecter</button>
            </form>
            <p>Pas encore de compte ?
                <a href="{% url 'inscription' %}">S'inscrire</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
