{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Bienvenue sur le site officiel des Jeux Olympiques Paris 2024 !</h1>
    <h2 class="text-center mb-4">L'histoire des Jeux Olympiques depuis la Grece antique</h2>
    <p>Les Jeux Olympiques Paris 2024 sont les XXXIII<sup>e</sup> Jeux Olympiques d'été de l'ère moderne. Ils se dérouleront du 26 juillet au 11 août 2024 à Paris, en France. C'est la troisième fois que la ville de Paris accueille les Jeux Olympiques, après les éditions de 1900 et 1924.</p>
    <h2 class="text-center mb-4">L'histoire des Jeux Olympiques moderne</h2>
    <p>Les Jeux Olympiques Paris 2024 sont les XXXIII<sup>e</sup> Jeux Olympiques d'été de l'ère moderne. Ils se dérouleront du 26 juillet au 11 août 2024 à Paris, en France. C'est la troisième fois que la ville de Paris accueille les Jeux Olympiques, après les éditions de 1900 et 1924.</p>
</div>
{% endblock %}
