{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Mes Commandes</h2>
    
    <!-- Afficher les tickets achetés -->
    <h3>Tickets achetés</h3>
    <ul>
        {% if tickets %}
            {% for ticket in tickets %}
                <li>{{ ticket }} - Type : {{ ticket.type_ticket }} - Quantité : {{ ticket.quantite }} - Sport : {{ ticket.sport.nom }}</li>
            {% endfor %}
        {% else %}
            <p>Vous n'avez encore acheté aucun ticket.</p>
        {% endif %}
    </ul>

    <hr>

    <!-- Afficher les billets générés -->
    <h3>Billets générés</h3>
    <div class="row">
        {% if billets %}
            {% for billet in billets %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ billet.ticket.sport.nom }}</h5>
                            <p class="card-text">
                                Type de Ticket : {{ billet.ticket.type_ticket }}<br>
                                Quantité : {{ billet.ticket.quantite }}<br>
                                Date : {{ billet.date_generation|date:"d/m/Y H:i" }}<br>
                                Clé sécurisée : {{ billet.cle_securisee_2 }}
                            </p>
                            <img src="{{ billet.qr_code.url }}" alt="QR Code" class="img-fluid">
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucun billet n'a encore été généré.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
