{% extends 'base.html' %}

{% block content %}
<div class="card m-auto my-5 border-dark" style="max-width: 50%">
    <div class="card-header text-center">
        <h2>Ventes</h2>
    </div>
    <div class="card-body">
        
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width: 20%;">Sport</th>
                        {% for offre in total_billets_par_offre %}
                            <th class="text-center" style="width: 15%;">{{ offre.ticket__offre__type }}</th>
                        {% endfor %}
                        <th class="text-center" style="width: 20%;">Billets par sport</th>
                        <th class="text-end" style="width: 20%;">Total (€)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sport in total_billets_par_sport %}
                        <tr>
                            <!-- Nom du sport -->
                            <td>{{ sport.ticket__sport__nom }}</td>
    
                            <!-- Total vendu par sport et par offre -->
                            {% for offre in total_billets_par_offre %}
                                <td class="text-center">
                                    {% for item in total_billets_par_sport_et_offre %}
                                        {% if item.ticket__sport__nom == sport.ticket__sport__nom and item.ticket__offre__type == offre.ticket__offre__type %}
                                        {% if item.total > 0 %}
                                                {{ item.total }} ({{ item.total_prix }}€)
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% endfor %}
                            
                            <!-- Total billets par sport -->
                            <td class="text-center">
                                {{ sport.total }}
                            </td>

                            <!-- Total revenu par sport -->
                            <td class="text-end">{{ sport.total_prix }}€</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <!-- Total billets par offre -->
                        <th>Billets par offre</th>
                        {% for offre in total_billets_par_offre %}
                            <th class="text-center">{{ offre.total }}</th>
                        {% endfor %}
                        <th class="text-center">{{ total_billets }}</th>
                        <th class="text-end">Total (€)</th>
                    </tr>
                    <tr>
                        <!-- Total revenu par offre -->
                        <th>Revenus par offre</th>
                    {% for offre in total_billets_par_offre %}
                        <th class="text-center">{{ offre.total_prix }}€</th>
                    {% endfor %}
                    <th class="text-center"></th>
                    <th class="text-end">{{ total_prix_global }}€</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock %}
