{% extends 'base.html' %}
{% load l10n %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card border-dark">
                <div class="card-header text-center">
                    <h2>Mes Commandes</h2>
                </div>
                <div class="card-body px-4">
                    <!-- Afficher les billets générés -->
                    <div class="row justify-content-center">
                        {% if billets %}
                            {% for billet in billets %}
                                <div class="col-12 col-md-6 p-3">
                                    <div class="card">
                                        <div class="card-header text-bg-light">
                                            <h5 class="card-title">{{ billet.ticket.sport.nom }}</h5>
                                        </div>
                                        <div class="card-body text-center">
                                            <p class="card-text">
                                                Acheteur : {{ billet.ticket.utilisateur.prenom }} {{ billet.ticket.utilisateur.nom }}<br>
                                                Ticket : {{ billet.ticket.offre.type }} - 
                                                {% localize on %}
                                                    {{ billet.ticket.offre.prix }}€<br>
                                                    Date de l'événement : {{ billet.ticket.sport.date_evenement }}<br>
                                                {% endlocalize %}
                                            </p>
                                            <img src="{{ billet.qr_code }}" alt="QR Code" class="img-fluid" style="width: 150px; height: 150px;">
                                        </div>
                                        <a href="{% url 'telecharger_billet' billet.id %}" class="btn btn-dark">Télécharger le billet</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="card-text">Vous n'avez aucune commande.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
