{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card border-dark">
                <div class="card-header text-center">
                    <h2>Tickets</h2>
                </div>
                <div class="card-body">
                    <form class="card-text" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
            
                        <button type="submit" class="btn btn-dark mt-3">Choisir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Script pour afficher le prix et la date dynamiquement -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}
