{% extends 'base.html' %}

{% block content %}
<div class="card m-auto border-dark" style="max-width: 25%">
    <div class="card-header text-center">
        <h2>Tickets</h2>
    </div>
    <div class="card-body">
        <form class="card-text" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-dark mt-3">Choisir</button>
        </form>
    </div>
</div>

<!-- Script pour afficher le prix et la date dynamiquement -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}
