.navbar {
    background-color: #1a1a1a !important;
    height: 100px;
}

main {
    margin-top: 150px;
}

.nav-item a,
.nav-item button,
.nav-item a:hover,
.nav-item button:hover {
    color: #fff;
}

.nav-item i {
    margin-right: 4px !important;
}

.nav-item {
    margin: 0 2px 0 2px;
}

.nav-item:hover i,
.nav-item.active i,
#logo-text:hover {
    color: #d4c47c;
}

.nav-item i,
#logo-text,
button,
.btn {
    transition: color 0.3s ease;
}

.card-header {
    background-color: #1a1a1a;
    color: #fff;
}

.btn:hover {
    background-color: #d4c47c !important;
    color: #1a1a1a !important;
    border: solid 1px #d4c47c !important;
}