.navbar {
    background-color: rgba(4, 4, 4, 0.9) !important;
}

.nav-item a,
.nav-item button,
.nav-item a:hover,
.nav-item button:hover {
    color: #fff;
}

.nav-item:hover i,
.nav-item.active i,
#logo-text:hover {
    color: #d4c47c;
}

.nav-item i,
#logo-text,
button,
.btn {
    transition: color 0.3s ease;
}

.card-header {
    background-color: rgba(4, 4, 4, 0.9);
    color: #fff;
}

.btn:hover {
    background-color: #d4c47c !important;
    color: #000 !important;
    border: solid 1px #d4c47c !important;
}