.navbar {
    background-color: #1a1a1a !important;
    height: 100px;
}

.nav-item a,
.nav-item button,
.nav-item a:hover,
.nav-item button:hover {
    color: #fff;
}

.nav-item i {
    margin-right: 4px !important;
}

.nav-item {
    margin: 0 2px 0 2px;
}

.nav-item:hover i,
.nav-item.active i,
#logo-text:hover {
    color: #d4c47c;
}

.nav-item i,
#logo-text,
button,
.btn {
    transition: color 0.3s ease;
}

main {
    position: relative;
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 50px;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/tour_eiffel.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.8;
    z-index: -1;
}

.card-header {
    background-color: #1a1a1a;
    color: #fff;
}

.btn:hover {
    background-color: #d4c47c !important;
    color: #1a1a1a !important;
    border: solid 1px #d4c47c !important;
}